# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=challenges

# Google OAuth
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_ID_IOS=your-ios-google-client-id

# JWT
JWT_SECRET=your-jwt-secret-change-me
JWT_EXPIRATION=7d

# AWS
AWS_ACCESS_KEY_ID=
AWS_BUCKET_NAME=
AWS_REGION=
AWS_SECRET_ACCESS_KEY=
AWS_CLOUDFRONT_DOMAIN=
